// Current work

.container-current-work {
	h2 {
		margin-bottom: 1.25em;
	}
	.inner {
		overflow: hidden;
	}
	small {
		@include font-size(12);
		text-transform: uppercase;
		color: lighten($colorTextDefault,20%);
	}
	.item {
		width: 100%;
		margin: 0 0 10% 0;
		position: relative;
		a {
			position: static;
			display: flex;
		}
		.image {
			width: 60%;
			overflow: hidden;
			max-height: 300px;
			padding: 1em;
			background: $colorSiteBackground;
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		.text {
			width: 40%;
			padding-left: 3em;
			display: flex;
			justify-content: center;
			align-items: center;
			p {
				&:first-of-type {
					margin-top: 0;
				}
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		&:nth-child(even) {
			a {
				flex-direction: row-reverse;
			}
			.text {
				padding-right: 3em;
				padding-left: 0;
			}
		}

	}
}
