// Introduction section

.container-introduction {
	background: $colorSiteBackground;
	img {
		width: 70px;
		height: auto;
		display: block;
		border-radius: 50%;
	}

	h1 {
		display: inline-block;
		line-height: 1.5;
		font-size: 2.5em;
		color: $colorTextHeader;
		font-weight: 700;
		margin-bottom: 0;
		a::after {
			background: $colorTextHeader;
		}
	}
}
