// Contact section

.container-image-buster {
	display: block;
	width: 120%;
	margin: 4em 0 4em -10%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
	border-radius: 3px;
	overflow: hidden;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.container-project-link {
	padding-bottom: 7em;
	a {
		font-size: 1.75em;
		font-family: $headingFontFamily;
		font-weight: normal;
	}
}
