$initialFontSize: 16px;

$defaultFontFamily: "freight-sans-pro",sans-serif;
$defaultFontStyle: normal;
$defaultFontWeight: 400;

$boldFontWeight: 700;

$colors: (
    default: (
        base: #4e4e4e,
        dark: #2d2d2d,
        text: #fff
    ),
    light: (
        base: #FFF1E7,
        header: #E93934,
        text: #1B2680,
    )
);

$twitterColor: #4099FF;
$spotifyColor: #23CF5F;
$instagramColor: #3b5998;