$initialFontSize: 16px;

$defaultFontFamily: 'Karla',sans-serif;
$headerFontFamily: 'Karla', sans-serif;
$defaultFontStyle: normal;
$defaultFontWeight: 400;

$boldFontWeight: 700;

$colors: (
    site: (
		background: #1b1b1b,
        text: #f4f5e8
    ),
    text: (
        header: #f4f5e8,
		links: #f4f5e8,
		underline: #545454,
		default: #777
    )
);

$twitterColor: #4099FF;
$spotifyColor: #23CF5F;
$instagramColor: #3b5998;
