
// General animation delays

.delay {
	@include prefix(animation-delay, 0.75s);
}

* {
	@include prefix(box-sizing, border-box);
}

body {
	line-height: 1.9;
	font-family: $defaultFontFamily;
	font-weight: $defaultFontWeight;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
