// Link styles

a {
	color: $colorTextLinks;
	position: relative;
	text-decoration: none;
	@include prefix(transition, all 0.2s);
	&:not(.remove-line) {
		text-decoration: underline;
		&:active {
			position: relative;
			top: 1px;
		}
	}
}
