
// Responsive things


@media screen and (max-width: 785px) {

	.container-introduction h1 {
		font-size: 1.999em;
	}

	.container-current-work {

		.item,
		.item:nth-of-type(odd) {
			width: 100%;
			margin: 0 0 3em 0;
			.image {
				width: 100%;
				max-height: 250px;
				height: auto;
				overflow: hidden;
				float: none;
			}
			.text {
				width: 100%;
				position: static;
				padding: 0.5em 0 0 0;
				float: none;
				overflow: hidden;
			}
		}
		.item:last-of-type {
			margin-bottom: 0;
		}
	}

	.container .inner {
		padding: 3em 0 0 0;
	}

	.container.container-introduction .inner {
		padding: 5em 0 3em 0;
	}

	.container {
		height: auto;
		&.container-contact .inner {
			padding-bottom: 3em;
		}
	}

}

@media screen and (max-width: 500px) {

	.container-introduction h1,
	h2 {
		font-size: 1.414em;
	}

	p {
		@include font-size(16);
	}

	h2 span {
		display: none;
	}

}
