* {
	box-sizing: border-box;
}

body {
	line-height: 1.9;
	font-family: $defaultFontFamily;
	font-weight: $defaultFontWeight;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
	text-decoration-skip: auto;
}

// General animation delays

.delay {
	animation-delay: 1s;
}
