// Header tags

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin: 0;
}

h2 {
	text-transform: uppercase;
	@include font-size(14);
	font-family: $defaultFontFamily;
	color: darken($colorTextDefault, 30%);
}

p {
	@include font-size(16);
	color: $colorTextDefault;
	&:last-of-type {
		margin-bottom: 0;
	}
	+ h2 {
		margin-top: 4em;
	}
}

strong {
	font-weight: $boldFontWeight;
	color: darken($colorTextDefault, 20%);
}

::selection {
	background: darken($colorTextDefault, 30%);
	color: $colorSiteBackground;
}

::-moz-selection {
	background: darken($colorTextDefault, 30%);
	color: $colorSiteBackground;
}
