// Header tags

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin: 0;
	font-weight: $headerFontWeight;
	color: $colorTextDefault;
}

h2 {
	text-transform: uppercase;
	@include font-size(14);
	font-family: $defaultFontFamily;
	color: rgb(64, 64, 64);
}

p {
	@include font-size(16);
	color: $colorTextDefault;
	margin-bottom: 1.5em;
	&:last-of-type {
		margin-bottom: 0;
	}
	+ h2 {
		margin-top: 4em;
	}
}

ul {
	margin-bottom: 0;
	margin-top: 1.5em;
	color: $colorTextDefault;
	p {
		margin: 0.5em 0 0 0;
	}
}

strong {
	font-weight: $boldFontWeight;
	color: darken($colorTextDefault, 20%);
}

::selection {
	background: darken($colorTextDefault, 30%);
	color: $colorSiteBackground;
}

::-moz-selection {
	background: darken($colorTextDefault, 30%);
	color: $colorSiteBackground;
}
