// Responsive things

// @media screen and (min-width: 1000px) {
//
// 	html {
// 		font-size: 1.25em;
// 	}
//
// 	.max-width {
// 		max-width: 800px;
// 	}
//
// 	.container-image-buster-spread {
// 		height: 1065px;
// 	}
//
// 	.spread-ecommerce {
// 		height: 1530px;
// 	}
//
// }

@media screen and (min-width: 1000px)  {

	.container-image-buster-spread {
		height: 600px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.spread-ecommerce {
		height: 860px;
	}


}

@media screen and (max-width: 999px) and (min-width: 750px)  {

	.container-image-buster-spread {
		height: 600px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.spread-ecommerce {
		height: 860px;
	}

}


@media screen and (max-width: 750px) {

	.icon-me {
		position: static;
		margin: 2em auto 0 auto;
		max-width: 600px;
		padding: 0;
		width: 90%;
	}

	.container {
		padding: 3em 0 0 0;
		&.container-contact,
		&.container-project-link {
			padding-bottom: 3em;
		}
	}

	.container-introduction {
		h1 {
			@include font-size(22);
			line-height: 1.8;
		}
	}

	.container-image-buster {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.current-item {
		margin-bottom: 1.5em;
	}

	.container-image-buster-spread {
		height: auto;
		img {
			position: static;
			transform: none !important;
		}
		img:not(:first-of-type) {
			margin-top: -70%;
		}
		&.spread-ecommerce {
			img:not(:first-of-type) {
				margin-top: -120%;
			}
		}
	}

	.image-buster-real-size img {
		width: 100%;
	}

	.container-project-link {
		span {
			display: none;
		}
	}

}
