.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s; }

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  outline: none; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

html {
  height: 100vh;
  opacity: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: #fff1e7; }

html.wf-loading {
  overflow: hidden; }
  html.wf-loading .container,
  html.wf-loading .container-about,
  html.wf-loading .container-contact {
    display: none; }

.loader {
  height: 28px;
  width: 28px;
  border: 2px solid #e93934;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  z-index: 20;
  left: 50%;
  top: 50%;
  margin-left: -14px;
  margin-top: -14px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }
html.wf-loading .loader {
  visibility: visible;
  opacity: 1;
  animation: rotate 0.8s infinite cubic-bezier(0.3, 0, 0.65, 1); }

body {
  line-height: 1.9;
  height: 100vh;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #e93934;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition: background-color 2s;
  -moz-transition: background-color 2s;
  -ms-transition: background-color 2s;
  -o-transition: background-color 2s;
  transition: background-color 2s; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 700; }

h2 {
  margin-bottom: 0.35em; }

p {
  font-size: 18px;
  font-size: 1.125rem; }

strong {
  font-weight: 700; }

a {
  color: #e93934;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background: rgba(233, 57, 52, 0.5);
    content: " ";
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  a:hover::after {
    background: none; }
  a:active {
    position: relative;
    top: 1px; }
  a.remove-line::after {
    display: none; }

.container .inner {
  padding: 5em 0; }

.table {
  display: table;
  height: 100%;
  width: 100%; }
  .table .cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

.max-width {
  margin: auto;
  width: 90%;
  max-width: 968px; }

.container-introduction {
  border-top: none;
  position: relative; }
  .container-introduction inner {
    padding: 0; }
  .container-introduction h1 {
    line-height: 1.5; }
  .container-introduction .arrow {
    height: 26px;
    width: 50px;
    text-indent: -9999px;
    display: block;
    left: 50%;
    position: absolute;
    bottom: 10%;
    margin-left: -25px;
    background: url("../images/arrow.png") no-repeat;
    background-size: 50px 26px; }
    .container-introduction .arrow:active {
      position: absolute;
      bottom: 10%;
      top: auto; }
    .container-introduction .arrow:hover {
      bottom: 9.5%; }

.container-about p:not(:last-of-type) {
  margin-bottom: 0.875em; }

.container-current-work {
  overflow: hidden; }
  .container-current-work h2 {
    margin-bottom: 1.5em; }
  .container-current-work .inner {
    overflow: hidden; }
  .container-current-work .item {
    width: 48%;
    margin: 0 4% 4% 0;
    float: left;
    position: relative; }
    .container-current-work .item a {
      position: static; }
    .container-current-work .item:nth-of-type(2n+2) {
      margin-right: 0; }
    .container-current-work .item:nth-last-child(-n+2) {
      margin-bottom: 0; }
    .container-current-work .item .image {
      overflow: hidden;
      width: auto;
      max-height: 300px; }
      .container-current-work .item .image img {
        width: 100%;
        height: auto;
        display: block; }
    .container-current-work .item .text {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 2em;
      text-align: center;
      background: white;
      color: #e93934;
      opacity: 0;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
      .container-current-work .item .text p {
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        -webkit-transform: translate(0px, 6px);
        -moz-transform: translate(0px, 6px);
        -ms-transform: translate(0px, 6px);
        -o-transform: translate(0px, 6px);
        transform: translate(0px, 6px); }
    .container-current-work .item:hover .text {
      opacity: 1; }
      .container-current-work .item:hover .text p {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        transform: translate(0px, 0px); }

.container-contact {
  text-align: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .container-contact .inner {
    padding-top: 0; }
  .container-contact .social-networks {
    display: inline-block;
    margin-top: 1em; }
    .container-contact .social-networks li {
      display: inline-block;
      font-size: 18px;
      font-size: 1.125rem;
      margin: 0 1em; }
      .container-contact .social-networks li.twitter a {
        color: #4099ff; }
      .container-contact .social-networks li.spotify a {
        color: #23cf5f; }
      .container-contact .social-networks li.instagram a {
        color: #3b5998; }

.menu,
.menu:hover,
.menu:active {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  z-index: 1;
  width: 27px; }

.menu span {
  height: 3px;
  background: #2d2d2d;
  display: block;
  margin-bottom: 6px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .menu span:nth-child(1) {
    width: 100%; }
  .menu span:nth-child(2) {
    width: 80%; }
  .menu span:nth-child(3) {
    width: 60%; }
.menu:hover span {
  width: 100%; }

.menu-close {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out; }

.menu-active .menu-close {
  display: block; }

.menu-active,
.menu-active body {
  overflow: hidden; }

.menu-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px;
  background: #000;
  z-index: 20;
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), visibility 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), visibility 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  visibility: hidden; }

.menu-active .container-introduction {
  -webkit-transform: translateY(150px);
  -moz-transform: translateY(150px);
  -ms-transform: translateY(150px);
  -o-transform: translateY(150px);
  transform: translateY(150px);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.menu-active .menu-wrapper {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  visibility: visible; }

.menu-wrapper ul {
  text-align: center;
  position: relative;
  -webkit-transform: translateY(-70px);
  -moz-transform: translateY(-70px);
  -ms-transform: translateY(-70px);
  -o-transform: translateY(-70px);
  transform: translateY(-70px);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s; }

.menu-active .menu-wrapper ul {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.menu-wrapper ul li {
  margin: 2em 0;
  padding: 0; }
  .menu-wrapper ul li a {
    font-size: 2em;
    line-height: 1;
    text-decoration: none;
    position: relative;
    color: white; }
    .menu-wrapper ul li a:hover {
      color: #e93934; }

@media screen and (max-width: 785px) {
  .container-current-work .item,
  .container-current-work .item:nth-last-child(-n+2) {
    width: 100%;
    margin: 0 0 4% 0; }
    .container-current-work .item .text,
    .container-current-work .item:nth-last-child(-n+2) .text {
      opacity: 0.9;
      position: static; }
      .container-current-work .item .text p,
      .container-current-work .item:nth-last-child(-n+2) .text p {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        transform: translate(0px, 0px); }
  .container-current-work .item:last-of-type {
    margin-bottom: 0; } }
@media screen and (max-width: 500px) {
  .container-introduction h1,
  h2 {
    font-size: 18px;
    font-size: 1.125rem; }

  p {
    font-size: 16px;
    font-size: 1rem; }

  .container-introduction .arrow {
    display: none; } }
