// Current work

.container-current-work {
  h2 {
    margin-bottom: 1em;
  }
}

.example-work-grid {
  @media (min-width: 800px) {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
    margin-top: -0.5rem;
  }
  // &:hover .current-item {
  // 	opacity: 0.2;
  // }
  // &:hover .current-item:hover {
  // 	opacity: 1;
  // }
}

.current-item {
  @media (min-width: 800px) {
    width: calc(50% - 1rem);
    margin: 0.5rem;
  }
  // margin: 0 0 3em 0;
  display: flex;
  align-items: flex-end;
  position: relative;
  // background-color: $colorTextHeading;
  transition: all 0.2s cubic-bezier(0.75, 0.25, 0.25, 0.75);
  backface-visibility: visible;

  &:hover {
    // background-color: rgba($colorTextDefault,0.8);
    // transform: scale(1.025);
    // opacity: 1;
  }

  padding: 1.25em 1.5em 1.25em 1.5em;
  a {
    position: static;
    display: block;
  }
  a::after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    // background: red;
  }
  // &:last-of-type {
  // 	margin-bottom: 0;
  // }
  p {
    margin: 0;
    // &:first-of-type {
    margin: 0;
    // &::after {
    //   display: inline-block;
    //   padding-left: 0.25em;
    //   transform: translateX(0);
    //   transition: transform 0.2s ease-in-out;
    //   content: " →";
    // }
    // }
  }

  // &:first-of-type {
  // 	&::before {
  // 		content: "Latest —";
  // 		@include font-size(10);
  // 		font-weight: 500;
  // 		text-transform: uppercase;
  // 		color: $colorSiteBackground;
  // 	}
  // }


  p {
    color: $colorTextDefault;
  }
  small {
    color: rgba($colorTextDefault, 0.8);
  }

  small {
    @include font-size(12);
    text-transform: uppercase;
    // color: lighten($colorTextDefault,20%);
  }
}
