// Introduction section

.container-introduction {
	h1 {
		line-height: 1.5;
		@include font-size(32);
		color: #2020ff;
		font-weight: $boldFontWeight;
		font-family: $headingFontFamily;
		a {
			color: #2020ff;
		}
	}
	h2 + h1 {
		margin-top: 0.4em;
	}
}
