// Introduction section

.container-introduction {
	height: 80vh;
	padding: 2em 0 !important;
	display: flex;
	position: fixed; 
	top: 0;
	width: 100%;
	// text-align: center;
	background: $colorSiteBackground;
	h1 + h2 {
		margin-top: 0.5em;
	}
	h2 + svg {
		margin-top: 1.5em;
	}
	h1 {
		line-height: 1.5;
		@include font-size(42);
		color: $colorTextHeading;
		font-weight: $headerFontWeight;
		font-family: $headingFontFamily;
		a {
			color: $colorTextDefault;
		}
		i {
			text-align: center;
			animation: waver 0.6s 4 ease-in-out;
			transform-origin: 70% 80%;
			font-style: normal;
			display: inline-block;
			vertical-align: top;
		}
	}

	h2 {
		text-transform: none;
		font-weight: normal;
		line-height: 1.5;
	}
}

.offset-top {
	background: #fff;
	z-index: 2;
	position: relative;
	margin-top: 90vh;
}

@keyframes waver {
	0% {transform: rotate(0);}
	25% {transform: rotate(10deg);}
	50% {transform: rotate(0deg);}
	75% {transform: rotate(-10deg);}
	100% {transform: rotate(0);}
}
