// Background colours for containers

.container {
	padding: 5.5em 0 0 0;
}

.max-width {
	margin: auto;
	width: 90%;
	max-width: 620px;
}


// html::after {
// 	width: 100vw;
//     height: 100vh;
//     content: "";
//     display: block;
//     position: fixed;
//     left: 0;
//     top: 0;
//     border: 10px solid #7fa8b1;
// 	box-sizing: border-box;
// 	pointer-events: none;
// }