// General resets 

.group::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;	
}

.center {
	text-align: center;
}

.delay {
	@include prefix(animation-delay, 1s);
}