* {
	@include prefix(box-sizing, border-box);
}

body {
	line-height: 1.9;
	font-family: $defaultFontFamily;
	font-weight: $defaultFontWeight;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Header tags

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: $boldFontWeight;
}

h2 {
	margin-bottom: 0.35em;
}

p {
	@include font-size(18);
}

strong {
	font-weight: $boldFontWeight;
}

::selection {
	background: color(site, background);
	color: color(text, header);
}

::-moz-selection {
	background: color(site, background);
	color: color(text, header);
}

// Link styles

a {
	color: color(text, links);
	text-decoration: none;
	position: relative;
	@include prefix(transition, all 0.2s);
	&:not(.remove-line)::after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 10%;
		background: color(text, underline);
		content: " ";
		@include prefix(transition, all 0.2s);
	}
	&:not(.remove-line):hover::after {
		background: none;
	}
	&:active {
		position: relative;
		top: 1px;
	}
}

// Background colours for containers

.container {
	.inner {
		padding: 7em 0 0 0;
	}
	&.container-contact .inner {
		padding-bottom: 7em;
	}
	&.container-introduction .inner {
		padding: 10em 0 7em 0;
	}
}

.max-width {
	margin: auto;
	width: 90%;
	max-width: 815px;
}

// Introduction section

.container-introduction {
	background: color(site, background);
	img {
		width: 70px;
		height: auto;
		display: block;
		border-radius: 50%;
		margin-bottom: 1em;
	}

	h1 {
		display: inline-block;
		line-height: 1.5;
		vertical-align: middle;
		font-size: 2.5em;
		font-family: $headerFontFamily;
		color: color(text, header);
	}

	h1 a::after {
		background: color(text, header);
	}
}

.container:not(.container-introduction) {
	h2, a, p strong {
		color: color(site, background);
	}

	p {
		color: color(text, default);
	}
}

// About section

.container-about {
	p:not(:last-of-type) {
		margin-bottom: 0.875em;
	}
}

// Current work

.container-current-work {
	h2 {
		margin-bottom: 1.25em;
	}
	.inner {
		overflow: hidden;
	}

	small {
		@include font-size(12);
		text-transform: uppercase;
		color: #cccccc;
	}
	.item {
		width: 100%;
		margin: 0 0 10% 0;
		overflow: hidden;
		position: relative;
		a {
			position: static;
		}
		.image {
			width: 60%;
			float: left;
			max-height: 300px;
			padding: 1em;
			background: color(site, background);
			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		.text {
			width: 40%;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			padding-left: 3em;
			@include prefix(transition, all 0.2s ease-in-out);
		}

		&:nth-child(even) {

			.image {
				float: right;
			}
			.text {
				left: 0;
				right: auto;
				padding-right: 3em;
				padding-left: 0;
			}

		}

		&:last-of-type {
			margin-bottom: 0;
		}

		.table,
		.table .cell {
			width: 100%;
			height: 100%;
		}

		.table {
			display: table;
		}

		.table .cell {
			display: table-cell;;
			vertical-align: middle;
		}

	}
}

// Contact section

.container-contact {
	text-align: center;
	@include prefix(transition, all 0.2s);
	p {
		margin: 0 auto;
		max-width: 550px;
	}
	.social-networks {
		display: inline-block;
		margin-top: 1em;
		li {
			display: inline-block;
			@include font-size(18);
			margin: 0 1em;
			&.twitter {
				a {
					color: $twitterColor;
				}
			}
			&.spotify {
				a {
					color: $spotifyColor;
				}
			}
			&.instagram {
				a {
					color: $instagramColor;
				}
			}
		}
	}
}

// Colours

.nighttime {
	.container-introduction,
	.container-current-work .item .image {
		background-image: linear-gradient(20deg, #29323c 0%, #485563 100%);
	}
}

.morning {
	.container-introduction,
	.container-current-work .item .image {
		background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
	}
}

.afternoon {
	.container-introduction,
	.container-current-work .item .image {
		background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
	}
}

.early-evening {
	.container-introduction,
	.container-current-work .item .image {
		background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	}
}
