// Dropdown menu 

.menu,
.menu:hover,
.menu:active {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	z-index: 1;
	width: 27px;
}

.menu {
	span {
		height: 3px;
		background: color(default, dark);
		display: block;
		margin-bottom: 6px;
		@include prefix(transition, all 0.2s);
		&:nth-child(1) {
			width: 100%;
		}
		&:nth-child(2) {
			width: 80%;
		}
		&:nth-child(3) {
			width: 60%;
		}
	}
	&:hover span {
		width: 100%;
	}
}

.menu-close {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	display: none;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}

.menu-active .menu-close {
	display: block;
}

.menu-active,
.menu-active body {
	overflow: hidden;	
}

// Menu slide-over

.menu-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	padding: 40px;
	background: #000;
	z-index: 20;
	transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), visibility 1s cubic-bezier(0.19, 1, 0.22, 1);
	transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), visibility 1s cubic-bezier(0.19, 1, 0.22, 1);
	@include prefix(transform, translateY(-100%));	
	visibility: hidden;
}

.menu-active .container-introduction {
	@include prefix(transform, translateY(150px));
	@include prefix(transition, all 0.2s);
}

.menu-active .menu-wrapper {
	@include prefix(transform, translateY(0));
	visibility: visible;
}

.menu-wrapper ul {
	text-align: center;
	position: relative;
	@include prefix(transform, translateY(-70px));
	@include prefix(transition, all 0.7s);
}

.menu-active .menu-wrapper ul {
	@include prefix(transform, translateY(0));
}

.menu-wrapper ul li {
	margin: 2em 0;
	padding: 0;
	a {
		font-size: 2em;
		line-height: 1;
		text-decoration: none;
		position: relative;
		color: color(default,text);
		&:hover {
			color: color(light, header);
		}
	}

}