
// Responsive things 

@media screen and (max-width: 785px) { 

	.container-current-work {
		
		.item,
		.item:nth-last-child(-n+2) {
			width: 100%;
			margin: 0 0 4% 0;
			.text {
				opacity: 0.9;
				position: static;
				p {
					@include prefix(transform, translate(0px, 0px));
				}
			}
		}
		.item:last-of-type {
			margin-bottom: 0;
		}
	}

}

@media screen and (max-width: 500px) { 

	.container-introduction h1,
	h2 {
		@include font-size(18);
	}
	
	p {
		@include font-size(16);
	}
	
	.container-introduction .arrow {
		display: none;
	}

}