
// Responsive things 

@media screen and (max-width: 990px) { 
	
	.container-introduction h1 {
		font-size: 3em;
	}
	
}


@media screen and (max-width: 755px) { 

	.container-current-work .main .text,
	.container-current-work .main .image {
		float: none;
		width: 100%;
	}
	
	.container-current-work .main .image {
		margin-top: 1em;
	}
	
	.container-current-work .main .text,
	.container-current-work .main .flip .text {
		border-left: none;
		border-right: none;
		padding: 0;
		margin: 0;
		padding-top: 20px;
		margin-top: 20px;
		border-top: 1px solid rgba(204, 204, 204, 0.21);
	}
	
	.container-current-work .center {
		display: none;
	}

}

@media screen and (max-width: 710px) { 
	
	.container-contact .footer-content,
	.container-contact .social-networks {
		float: none;
	}
	
	.container-contact .social-networks {
		margin-top: 1em;
	}
	
}

@media screen and (max-width: 500px) { 
	
	h2 {
		font-size: 1.5em;
	}
	
	.container .inner {
		padding: 40px 0;
	} 
	
	.container-about .inner p {
		margin: 30px 0;
	}
	
	.container-introduction h1 {
		line-height: 1.25;
		margin-bottom: 20px;
		display: block;
		font-size: 2em;
	}
	
	.container-current-work .max-width {
		margin-top: -30px;
		margin-bottom: -30px;
	}
	
	.container-current-work .max-width h2 span {
		display: none;
	}

	.container-current-work .main .image {
		max-height: 200px;
	}


}