$initialFontSize: 16;

$defaultFontFamily: 'Karla',sans-serif;
$defaultFontWeight: 400;
$boldFontWeight: 700;

$colorSiteBackground: #1b1b1b;

$colorTextHeader: #f4f5e8;
$colorTextLinks: $colorTextHeader;
$colorTextUnderline: #545454;
$colorTextDefault: #777;

$twitterColor: #4099FF;
$spotifyColor: #23CF5F;
$instagramColor: #3b5998;
$linkedinColor: #0077B5;
