$initialFontSize: 16;

$headingFontFamily: 'Raleway', sans-serif;
$defaultFontFamily: 'Rubik', sans-serif;

$defaultFontWeight: 400;
$headerFontWeight: 500;
$boldFontWeight: 500;

$colorSiteBackground: #fdc;
$colorTextHeading: #55467b;
$colorTextDefault: #737373;

$colorTextLinks: #fdc;
$colorTextUnderline: #fdc;

$twitterColor: #4099FF;
$spotifyColor: #23CF5F;
$instagramColor: #3b5998;
$linkedinColor: #0077B5;
