$initialFontSize: 16;

$headingFontFamily: 'Domine', serif;
$defaultFontFamily: 'Open Sans', sans-serif;

$defaultFontWeight: 400;
$boldFontWeight: 700;

$colorSiteBackground: rgba(247, 250, 255, 0.1);
$colorTextDefault: #5d5d5d;

$colorTextLinks: #545454;
$colorTextUnderline: #545454;

$twitterColor: #4099FF;
$spotifyColor: #23CF5F;
$instagramColor: #3b5998;
$linkedinColor: #0077B5;
