$initialFontSize: 16;

$defaultFontFamily: 'Karla', sans-serif;
$headingFontFamily: 'Bitter', Georgia, serif;

$defaultFontWeight: 400;
$boldFontWeight: 700;

$colorSiteBackground: #fbf1eb;
$colorTextDefault: #5d5d5d;

$colorTextLinks: #545454;
$colorTextUnderline: #545454;

$twitterColor: #4099FF;
$spotifyColor: #23CF5F;
$instagramColor: #3b5998;
$linkedinColor: #0077B5;
